services:
  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    image: mariadb:latest
    pull_policy: build
    container_name: mariadb
    restart: always
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql
      - ./init_db:/docker-entrypoint-initdb.d
    networks:
      - app-net

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    image: python:3.11-slim
    pull_policy: build
    container_name: webapp
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    networks:
      - app-net

 nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    image: nginx:latest
    pull_policy: build
    container_name: nginx
    ports:
      - "8080:80"
    depends_on:
      - web
    networks:
      - app-net
    labels:
      shipyard.route: "/"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

volumes:
  db_data:

networks:
  app-net:
