services:
  db:
    image: mariadb:11.8.2-noble
    restart: always
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql
      - ./init_db:/docker-entrypoint-initdb.d:ro
    networks:
      internal:
        aliases:
          - db.local

  web:
    build:
      context: ./web
    pull_policy: build
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_HOST: db.local
    networks:
      - internal
    depends_on:
      db:
        condition: service_started

  nginx:
    build:
      context: ./nginx
    pull_policy: build
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    ports:
      - "8080:80"
    networks:
      - internal
    labels:
      shipyard.route: "/"
    depends_on:
      web:
        condition: service_started

volumes:
  db_data:

networks:
  internal:
